.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  background-color: #e3eef5;
  min-height: 100vh;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

h2 {
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  background-color: #147de6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #08f097;
}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
  width: 80%;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
}

ol li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

ol li:last-child {
  border-bottom: none;
}
